{% extends "e-commerce/base.html" %}

{% block head %}
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
{% endblock %}

{% block title %}Carrito{% endblock %}
{% block content %}

<h1>{{user.username}} este es tu carrito de compras, puedes confirmar el pedido o eliminar elementos de tu carrito.</h1>

<table>

    {% for comic in cart_items %}
    <tr class="comic-item">
        <td>
            <a href="/e-commerce/detail?marvel_id={{comic.marvel_id}}">
                <img src="{{comic.picture}}" alt="Not found">
            </a>
        </td>
        <td>
            <ul>
                <li>
                    <h2>{{comic.title}}</h2>
                </li>
                <li>
                    <h2>Precio unitario: U$S {{comic.price}}</h2>
                </li>
                <li>
                    <h2>Stock Disponible: {{comic.stock_qty}}</h2>
                </li>
                <li>
                    <h2>
                        <form action="{% url 'updateqty' %}" method="POST">
                            {% csrf_token %}
                            <label for="quantity">Cantidad a Comprar:</label>
                            <input type="number" name="quantity" min="0" max="{{comic.wished_qty_restant}}" placeholder="0">
                            <input type="hidden" name="comic_id" value="{{comic.id}}">
                            <button type="submit" class="btn btn-outline-secondary">Agregar al Carrito</button>
                        </form>
                    </h2>
                </li>
                <li>
                    <h2>Unidades en el Carrito: {{comic.wished_qty_act}}</h2>
                </li>
            </ul>
        </td>
        <td>
            <form action="{% url 'checkbutton' %}" method="POST">{%csrf_token%}
                <input type="hidden" name="username" value="{{user.username}}">
                <input type="hidden" name="marvel_id" value="{{comic.marvel_id}}">
                <input type="hidden" name="user_authenticated" value="{{user.is_authenticated}}">
                <input type="hidden" name="type_button" value="cart">
                <input type="hidden" name="actual_value" value="True">
                <input type="hidden" name="path" value="cart">
                <input type="hidden" name="path" value="{% url 'cart' %}">
                <input type="image" src="{% static 'e-commerce/img/cart-true.png' %}" width="60%">
            </form>

            <p>(Quitar de carrito)</p>
        </td>
    </tr>

    {% endfor %}

     <td>
        <h1>Precio total: U$S {{total_price}}</h1>
    </td>
    <td style="text-align: center;">
        <a  href="{% url 'thanks' %}">
            <h1>-> Confirmar pedido <- </h1>
        </a>
    </td>
</table>

{% endblock %}